<md-radio-group class="options" ng-model="question.correct">
  <md-radio-button 
    ng-repeat="option in question.options"
    ng-value="option.order" 
    aria-label="{{(option | stripImg) || ''}}"
    ng-disabled="option.disabled || disabled"
    ng-click="checkAnswer(option)"
    ng-class="{
      'correct': !noAnswers && (question.answered || question.points) && option.correct,
      'wrong': !noAnswers && question.answered == option && !option.correct,
      'inline-block': option.images.length
    }" >
    {{(option | stripImg) || ''}}
      <img ng-src="{{option | imgSrc}}"/>
  </md-radio-button>
</md-radio-group>
