<div class="progress quesions-progress">
  <div class="progress-bar progress-bar-learned" 
       style="width: {{summary.correctlyAnsweredRatio * 100  }}%;">
  </div>
  <div class="progress-bar progress-bar-danger" 
       style="width: {{showSummary && (1 - summary.correctlyAnsweredRatio) * 100 }}%;">
  </div>
  <div class="progress-bar progress-bar-practice" style="width: {{progress}}%;"></div>
</div>
<span ng-hide="true" dynamic-title="Procvičování"></span>
<div id="container" class="practice-container col-lg-12">
  <div ng-hide="question || showSummary || error" class="loading-indicator">
  </div>
  <div ng-show="error" ng-bind="error" class="alert alert-danger">
  </div>
  <div ng-repeat="question in questions" class="practice">
    <div class="well" ng-if="question|imgSrc">
      <img ng-src="{{question|imgSrc}}"/>
    </div>
    <div class="question">
      <div ng-bind="question | stripImg"></div>
    </div>
    <div options="question"></div>
    <div class="pull-right" >
      <button class="btn btn-lg next"
              ng-class="(canNext && 'btn-primary') || 'btn-default'" 
              ng-click="next()" 
              ng-disabled="!canNext" >
          <i class="glyphicon glyphicon-arrow-right"></i> Další
      </button>
    </div>
    <div class="clearfix"></div>
    <div debug="question"></div>
  </div>
  <div ng-show="showSummary" class="summary">
    <div>
      <div class="progress-label">
          Úspěšnost: {{summary.correctlyAnsweredRatio | percent }}
      </div>
      <h2 ng-show="errorMessage != undefined" ng-bind="errorMessage"></h2>
      <div questions-list="summary.questions"> </div>
    </div>
    <br>
    <span class="pull-right" >
      <a class="btn btn-lg btn-default" 
         href="#/refreshpractice/{{categoryId}}" >
        <i class="glyphicon glyphicon-repeat"></i> Znovu procvičovat
      </a>
      <a class="btn-continue btn btn-lg btn-primary" 
         href="#/view/{{categoryId}}" >
        Přehled znalostí
      </a>
    </span>
    <div class="clearfix"></div>
    <div debug="summary"></div>
  </div>
  <div class="clearfix"></div>
</div>
