<div class="questions-list">
  <div ng-repeat="question in questionsList" >
      <div class="questions-item" ng-click="selectQuestion(question)">
        <span class="badge badge-default"
            title="Odhad znalosti {{question.predictionAfter && 'před' || ''}}">
          <i class="color-indicator" 
            style="background-color: {{question.prediction|probColor}};" ></i>
          {{question.points || (question.prediction | percent)}}
        </span>
        <i class="glyphicon glyphicon-circle-arrow-right prediction-shift"
           ng-if="question.predictionAfter"
           style="color: {{(question.answered.correct + 0) | probColor}};" ></i>
        <span class="badge badge-default" title="Odhad znalosti po"
          ng-if="question.predictionAfter">
          <i class="color-indicator" 
            style="background-color: {{question.predictionAfter|probColor}};" ></i>
          {{(question.predictionAfter | percent)}}
        </span>
        <span ng-repeat="cat in question.categories"
          ng-if="!categoryId"
          class="badge badge-default pull-right category" 
          title="Kategorie">
         {{cat.name}}
        </span>
        <span class="inline-question" ng-bind="question.html|stripHtml"></span>
     </div>
     <div class="question-details" ng-if="question == selected"
         ng-class="{'ng-leave' : question != selected}">
       <img style="display: block" ng-src="{{question | imgSrc}}"/>
       <div options="question" ng-disabled="true"></div>
       <div debug="question" ></div>
     </div>
     <md-divider class="md-default-theme"></md-divider>
  </div>
  <br>
  <div ng-click="onBottomReached()"
    ng-show="hasMoreQuestions && !loading"
    class="btn btn-default btn-block">
    Další otázky
  </div>
  <div class="clearfix"></div>
</div>
