{% extends 'user_base.html' %}

{% load jsonify %}

{% block header_block %}{% endblock %}

{% block content_block %}
    {% if help_text %}
        <h2>Documentation</h2>
        {{ help_text|safe }}
    {% endif %}

    <h2>Emulate POST request</h2>
    <form class="pure-form" action="" method="post" enctype='application/json'>
        <fieldset>
            <legend>Create user</legend>
            <label> Class id <br>
                <input type="text" name="class" required placeholder="required">
            </label>
            <hr>
            <label> First name <br>
                <input type="text" name="first_name" required placeholder="required">
            </label>
            <br>
            <br>
            <label> Last name <br>
                <input type="text" name="last_name">
            </label>
            <br>
            <label> Username <br>
                <input type="text" name="username">
            </label>
            <br>
            <label> Password <br>
                <input type="password" name="password">
            </label>
            <br>
            <label> Email <br>
                <input type="email" name="email">
            </label>
            <br><br>
            <button type="submit" class="pure-button pure-button-primary">Create</button>
        </fieldset>
        {% csrf_token %}
    </form>

    {{ json|obj2richjson }}
{% endblock %}
