{% load staticfiles %}

<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'jasmine/lib/jasmine-2.2.0/jasmine_favicon.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'jasmine/lib/jasmine-2.2.0/jasmine.css'%}">

    <script type="text/javascript" src="{% static 'jasmine/lib/jasmine-2.2.0/jasmine.js'%}"></script>
    <script type="text/javascript" src="{% static 'jasmine/lib/jasmine-2.2.0/jasmine-html.js'%}"></script>
    <script type="text/javascript" src="{% static 'jasmine/lib/jasmine-2.2.0/boot.js'%}"></script>

    <script src="{% static "js/jstz.min.js" %}"></script>
    <script src="{% static "proso_common/angular.min.js" %}"></script>
    <script src="{% static "proso_common/angular-mocks.js" %}"></script>
    <script src="{% static "js/user_service.js" %}"></script>

    <script src="{% static "js/user_service_test.js" %}"></script>
</head>

</html>