dist
*.pyc
*.egg-info
*.sqlite3
.ropeproject
*.sw[pon]
.sass-cache
build
_build
image
.django_cache
local_settings.py
testproject/data
testproject/media
testproject/testapp/static
bower_components
node_modules
