*.egg-info
*.pyc
*.sqlite3
*.sw[pon]
.django_cache
.ropeproject
.sass-cache
_build
bower_components
build
dist
image
local_settings.py
node_modules
tags
testproject/data
testproject/media
testproject/testapp/static
