{% extends 'common_base.html' %}
{% block menu_heading_block %}Concepts{% endblock %}
{% block menu_list_block %}
    <ul>
        <li><a href="{% url 'concepts:show_concepts' %}?html=True">Concepts</a></li>
        <li><a href="{% url 'concepts:show_tags' %}?html=True">Tags</a></li>
        <li><a href="{% url 'concepts:tag_values' %}?html=True">Tag values</a></li>
        <li><a href="{% url 'concepts:user_stats' %}?html=True">User stats</a></li>
        <li><a href="{% url 'concepts:user_stats_bulk' %}?html=True&users=[]&language=en">User stats bulk</a></li>
        <li><a href="{% url 'concepts:user_stats_api' 'edookit'%}?html=True&key=">Edookit user stats</a></li>
    </ul>
{% endblock %}
