{% extends 'flashcards_base.html' %}
{% load staticfiles %}

{% block content_block %}
<div id="ng" ng-app="proso" ng-controller="auth">
    <h4>Setting</h4>
    <label> Set size: <input type="number" ng-model="service.set_lenght" width="10"/> </label><br/>
    <label> Queue max size: <input type="number" ng-model="service.fc_queue_size_max" width="10"/> </label><br/>
    <label> Queue min size: <input type="number" ng-model="service.fc_queue_size_min" width="10"/> </label><br/>

    <hr/>
    <h4>Flashcard</h4>
    <div class="pure-button pure-button-primary" ng-click="get_flashcard()">Get flashcard</div>
    <p>{% verbatim %}{{ msg }}{% endverbatim %}</p>
    <div class="fc">
        Flashcard id: {% verbatim %}{{ flashcard.id }}{% endverbatim %}
        <pre>{% verbatim %}{{ flashcard | json:4 }}{% endverbatim %}</pre>
    </div>
    <div ng-show="flashcard">
        <hr/>
        <h4>Answer</h4>
        <form ng-submit="service.save_answer_to_current_fc(answer.id, answer.rt, answer.meta)">
            <input type="number" required ng-model="answer.id" placeholder="FC Answered id"/>
            <input type="number" required ng-model="answer.rt" placeholder="Response time"/>
            <input type="text" ng-model="answer.meta" placeholder="Meta"/>
            <input type="submit" class="pure-button pure-button-primary" value="Save"/>
        </form>
    </div>
    <hr/>
    <h4>Service</h4>
    <pre>{% verbatim %}{{ service | json:4 }}{% endverbatim %}</pre>
</div>
{% endblock %}


{% block head_block %}
    <script src="{% static "js/practice_service.js" %}"></script>
    <script src="{% static "proso_common/angular.min.js" %}"></script>
    <script>
        var app = angular.module('proso', []);
        app.config(function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });
        app.service("practice_service", PracticeService);
        app.controller("auth", function($scope, practice_service){
            $scope.service = practice_service;

            $scope.get_flashcard = function(){
                practice_service.get_flashcard().then(
                        // called after FC is ready
                        function(flashcard) {
                            $scope.flashcard = flashcard;
                            $scope.msg = "";
                        },
                        // called on error (set complete)
                        function(msg){
                            $scope.flashcard = null;
                            $scope.msg = msg;
                        }
                );
            }
        });

    </script>
    <style>
        .fc { position: relative; cursor: help; }
        .fc pre{
            display: none;
            position: absolute;
            background-color: white;
            border: solid gray 1px;
            left: 20px;
            top: -20px;
        }
        .fc:hover pre{
            display: block;
        }
    </style>
{% endblock %}