{% extends 'common_base.html' %}
{% block menu_heading_block %}Questions{% endblock %}
{% block menu_list_block %}
	<ul>
		<li><a href="{% url 'answer' %}?html=True&stats=True">Answer</a></li>
		<li><a href="{% url 'show_answers' %}?html=True&stats=True">Answers</a></li>
		<li><a href="{% url 'show_categories' %}?html=True&stats=True">Categories</a></li>
		<li><a href="{% url 'practice' %}?html=True&stats=True">Practice</a></li>
		<li><a href="{% url 'show_questions' %}?html=True&stats=True">Questions</a></li>
		<li><a href="{% url 'show_sets' %}?html=True&stats=True">Sets</a></li>
		<li><a href="{% url 'test' %}?html=True&stats=True">Test</a></li>
	</ul>
{% endblock %}
