{% extends 'base.html' %}
{% load staticfiles %}

{% block header_block %}{% endblock %}

{% block content_block %}
    <div id="ng" ng-app="proso" ng-controller="demo">
        <config-bar></config-bar>
    <button ng-click="test()">Make request</button>
    </div>
{% endblock %}


{% block head_block %}
    <script src="{% static "proso_common/angular/angular.min.js" %}"></script>
    <script src="{% static "proso_common/js/config_bar.js" %}"></script>
    <script src="{% static "proso_common/js/config_service.js" %}"></script>
    <script src="{% static "proso_common/js/logging_service.js" %}"></script>
    <script>
        var app = angular.module('proso', ["proso_apps.services", "proso_apps.directives"]);
        app.run(function(configService){
            configService.processConfig({{ config_json | safe }});
        });
        app.controller("demo", function($scope, $http){
            $scope.test = function() {
                $http.get("/flashcards/practice/").success(function (result) {
                    console.log(result);
                })
            }
        });

    </script>
{% endblock %}
