{% load staticfiles %}

<style>
    #config-bar-show-button {
        position: fixed;
        right: -2.5rem;
        top: 300px;
        width: 6rem;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        border: solid #808080 1px;
        margin: 0;
        padding: 10px;
        text-transform: capitalize;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.8);
        transition: all 0.2s;
        cursor: pointer;
        text-align: center;
    }
    #config-bar-show-button:hover {
        background-color: #1f8dd6;
        color: white;
    }
    #config-bar {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40rem;
        border-left: solid #808080 1px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1000;
    }
    #config-bar-header {
        background-color: #1f8dd6;
        margin: 0;
        padding: 10px 20px;
        text-align: right;
        color: white;
    }
    #config-bar-content .section {
        background-color: #1f8dd6;
        margin: 0;
        padding: 10px 20px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }
    #config-bar-hide {
        text-align: right;
        width: 20rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
    #config-bar-content {
        margin: 0;
        list-style: none;
        padding: 0;
        line-height: 2rem;
    }
    #config-bar-content > li {
        border-bottom: 1px dashed #E9F4FB;
        padding: 10px 20px;
        margin: 0;
    }
    #config-bar-content > li:hover {
        background: #E9F4FB;
    }
    #config-bar-content .reset {
        cursor: pointer;
        font-weight: bolder;
    }
    #config-bar-content input {
        padding: 5px 10px;
    }
    #config-bar-content label {
        margin-left: 10px;
        cursor: pointer;
    }
    #config-bar-content .link {
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
    }
    #config-bar-logging {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 500px;
        overflow-y: scroll;
    }
    #config-bar-logging > li {
        margin: 0;
        padding: 5px 10px;
        border-bottom: 1px solid #E9F4FB;
    }
    #config-bar-logging > li:hover {
        background-color: #E9F4FB;
    }
    #config-bar-logging .level {
        display: block;
        float: left;
        width: 15%;
        font-weight: bold;
    }
    #config-bar-logging .filename {
        display: block;
        float: left;
        width: 65%;
        font-weight: bold;
    }
    #config-bar-logging .line-number {
        display: block;
        float: right;
        width: 20%;
        text-align: right;
        font-weight: bold;
    }
    #config-bar-logging .message {
        display: block;
    }
</style>

<script src="{% static "proso_common/angular/angular.min.js" %}"></script>
<script src="{% static "proso_common/angular/angular-cookies.min.js" %}"></script>
<script src="{% static "proso_common/js/config_service.js" %}"></script>
<script src="{% static "proso_common/js/logging_service.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<script>
    var app = angular.module('proso_toolbar', ["proso_apps.services", "ngCookies"]);
    app.run(function(configService){
        configService.processConfig({{ config_json | safe }});
    });
    app.controller("toolbar", function($scope, $cookies, configService, loggingService){
        $scope.override = configService.override;
        $scope.removeOverridden = configService.removeOverridden;
        $scope.debugLog = [];
        $scope.debug = true;
        $scope.opened = $cookies["toolbar:opened"] === "true";
        $scope.loggingOpened = true;
        $scope.override('debug', true);
        loggingService.addDebugLogListener(function(events) {
            $scope.$apply(function(){
                events.forEach(function (e) {
                    $scope.debugLog.unshift(e);
                });
            });
        });

        $scope.$watch("opened", function(n, o){
            $cookies["toolbar:opened"] = n;
        });
    });
</script>
{% verbatim %}
<div id="proso-toolbar" ng-controller="toolbar">
    <div id="config-bar-show-button" ng-click="opened = !opened" ng-hide="opened"> proso bar </div>

    <div id="config-bar" ng-cloak ng-show="opened">
        <div id="config-bar-header">
            <span id="config-bar-hide" ng-click="opened = !opened">Close</span>
        </div>
        <ul id="config-bar-content">
            <li>
                <input type="checkbox" ng-model="debug" ng-change="override('debug', debug)" id="config-bar-debug"/><label for="config-bar-debug">Debug</label>
            </li>
            <li>
                <span ng-click="removeOverridden('user'); user = null" class="reset">X</span>
                <input type="number" ng-model="user" placeholder="User" ng-change="override('user', user)" />
            </li>
            <div class='section' ng-click="loggingOpened = !loggingOpened">Logging</div>
            <ul id="config-bar-logging" ng-cloak ng-show="loggingOpened">
                <li ng-repeat="event in debugLog|limitTo:100" class="logging-event">
                    <span class="level">{{ event.level }}</span>
                    <span class="filename">{{ event.filename }}</span>
                    <span class="line-number">{{ event.line_number }}</span>
                    <span class="message">{{ event.message }}</span>
                </li>
            </ul>
        </ul>
    </div>
</div>
{% endverbatim %}
<script>
    angular.bootstrap($("#proso-toolbar"), ["proso_toolbar"]);
</script>