<div id="proso-toolbar">
    <toolbar></toolbar>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>google.load('visualization', '1.1', {packages: ['corechart']});</script>
<script>
    if ((!$('html[data-ng-app]') || $('html[data-ng-app]').length == 0)
            && (!$('html[ng-app]') || $('html[ng-app]').length == 0)) {
        angular.bootstrap($("#proso-toolbar"), ["proso.apps"]);
    }
</script>
