{% extends 'base.html' %}
{% load staticfiles %}

{% block content_block %}
<div id="ng" ng-app="proso" ng-controller="logging">
    <h4>Logging</h4>
    <div class="pure-button pure-button-primary" ng-click="causeError()">Cause Error</div>
    <form ng-submit="service.info(message, data)">
        <p><input type="text" ng-model="message" placeholder="Message" /></p>
        <p><textarea ng-model="data" placeholder="JSON data" rows="10" cols="80"></textarea></p>
        <p><input type="submit" class="pure-button pure-button-primary" value="Log Event"/></p>
    </form>

</div>
{% endblock %}


{% block head_block %}
    <script>
        var app = angular.module('proso', ["proso.apps", "ngCookies"]);
        app.run(function(configService){
            configService.processConfig({{ config_json | safe }});
        });
        app.controller("logging", function($scope, serverLogger){
            $scope.service = serverLogger;

            $scope.causeError = function() {
                var variable;
                console.log(variable.property);
            };
        });

    </script>
{% endblock %}
