{% extends 'common_base.html' %}
{% block menu_heading_block %}Models{% endblock %}
{% block menu_list_block %}
	<ul>
		<li><a href="{% url 'models_answer' %}?html=True">Answer</a></li>
		<li><a href="{% url 'models_to_practice' %}?html=True">Items to Practice</a></li>
		<li><a href="{% url 'models_to_practice_counts' %}?html=True">Items to Practice Counts</a></li>
		<li><a href="{% url 'models_practice' %}?html=True">Practice</a></li>
		<li><a href="{% url 'models_status' %}?html=True">Status</a></li>
		<li><a href="{% url 'models_user_stats' %}?html=True">User Statistics</a></li>
	</ul>
{% endblock %}
