$practiced: #ffeb3b

body
  overflow-y: scroll
  font-size: 1.5em
  background-color: #EFEFEF
  li
    list-style-type: none

ul
  padding: 0px
  margin: 0px

ul.dropdown-menu.login
  padding-top: 10px
  li
    margin: 0 10px 10px 10px
    width: 200px
  a.btn
    color: white
    i
      float: left
      margin: -5px 0 -10px -10px
  a.btn.btn-danger:hover
    background: #d43f3a
  a.btn.btn-primary:hover
    background-color: #3276b1

.card
  display: block
  background-color: #fff
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  border-radius: 2px
  overflow: hidden

.dropdown
  i.icon-user
    opacity: 0.5
  a:hover i.icon-user, a:focus i.icon-user, &.open i.icon-user
    opacity: 1

.version
  border: 0px none currentColor
  right: 0px
  top: 0px
  position: absolute

.vip
  .map-container
    background: url(../img/flower_bg.jpg) bottom right

.view-places
  margin: 10px

#container
  margin-left: auto
  margin-right: auto
  float: none
  position: relative

.label
  margin-right: 10px
  margin-top: 5px
  padding-bottom: 5px
  cursor: default

#footer
  background-color: #34495e
  color: #eee
  text-align: center
  clear: both
  position: relative
  z-index: initial
  margin-top: -70px
  padding: 20px
  min-height: 30px
  a
    color: rgb(82, 186, 255) 
  .contact
    margin: 0 5px 0 5px
  #imgVPS
    margin-right: 30px

.old-browser
  margin: 0
  text-align: center

.inline
  display: inline

.progress-bar-learned
  background-color: $correct-color

.progress-bar-practiced
  background-color: $practiced

.color-indicator.learned
  background-color: $correct-color

.color-indicator.practiced
  background-color: $practiced

.btn-primary
  background-color: $main-color
  border-color: $main-color
  &:hover
    background-color: darken($main-color, 5) 
    border-color: darken($main-color, 5)

.progress-bar-success
  background-color: $correct-color

pre
  .string
    color: green
  .number
    color: darkorange
  .boolean
    color: blue
  .null
    color: magenta
  .key
    color: red

.loading-indicator
  text-align: center
  min-height: 60px
  width: 100%
  height: 100%
  margin-top: 20px
  margin-bottom: 20px


.spinner
  -webkit-animation: rotator $duration linear infinite
  animation: rotator $duration linear infinite

.path
  stroke-dasharray: $offset
  stroke-dashoffset: 0
  -webkit-transform-origin: center
  -ms-transform-origin: center
  transform-origin: center
  -webkit-animation: dash $duration ease-in-out infinite
  animation: dash $duration ease-in-out infinite
  stroke: $main-color

.progress-label
  text-align: center
  color: #999
  margin-bottom: 10px

md-radio-button
  margin: 5px
  padding: 5px
  &.inline-block
    display: inline-block

@media (min-width: 767px)
  .progress-label
    margin-top: -10px
  md-radio-button
    padding: 10px

.ng-view-header
  background: #eee
  padding: 10px
  padding-left: 40px
  padding-right: 40px
  margin-left: -20px
  margin-right: -20px
  .btn
    font-size: 12px
    margin-right: 15px
    font-size: 16px
    margin: 0
    font-weight: bold
  h2
    margin: 0px
    margin-top: 5px
    display: inline-block
    font-size: 25px
    color: $main-color-darken

