.view-questions
  .prediction
    padding: 10px 0 5px 0
    .progress
      margin-bottom: 0
    .goal
      border-left: 8px solid $correct-color
      display: inline-block
      height: 20px
      position: absolute
  .category-progress .progress
    margin: 0px
    border-radius: 0
    height: 5px
    background: none
  overflow: hidden
  .questions-list
    padding: 15px

@media (max-width: 767px)
  .questions-item
    .category
      display: none

.questions-list
  paper-radio-button
    display: block
  paper-radio-button.img-option
    display: inline-block

.questions-item
  padding: 10px 0
  -webkit-animation: fadeIn .9s ease-out
  -moz-animation: fadeIn .9s ease-out
  animation: fadeIn .9s ease-out
  .badge
    background-color: #eee
    color: #777
  .category
    padding: 7px 12px
    border-radius: 15px
  .inline-question
    p
      display: inline
    img
      display: none

.question-details
  background: #fff
  -webkit-animation: slideDown .5s ease-out
  -moz-animation: slideDown .5s ease-out
  animation: slideDown .5s ease-out
  
.question-details.ng-leave
  -webkit-animation: slideUp .5s ease-out
  -moz-animation: slideUp .5s ease-out
  animation: slideUp .5s ease-out

.color-indicator
  display: inline-block
  width: 22px
  height: 22px
  margin: -3px 5px -5px -7px
  border: 0                                                                        
  border-radius: 50%

.prediction-shift
  font-size: 21px
  vertical-align: sub
